# exclude backups of results.json
/src/cvkan/experiments/results_backups
# exclude pycache
**/__pycache__
# exclude PyCharm
.idea

# exclude distribution builds
dist
# exclude egg-info
src/cvkan.egg-info
